
.home:before{
    content: "";
    width: 100%;
    height: 100%;
    z-index: -0;
    position: absolute;
    top: 0%;
    left: 0;
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    background: -webkit-linear-gradient(170deg, rgba(212, 53, 87, 0.01), rgba(212, 53, 87, 0.1));
    background: linear-gradient(170deg, rgba(212, 53, 87, 0.0), rgba(212, 53, 87, 0));
    -webkit-transform: skew(0deg,0deg);
    transform: skew(0deg,0deg);
}
.home{
    background: url('../img/background/home2.png');
    background-size: cover;
}
.scan{
    background: url('../img/background/home.png');
    background-size: cover;
}

@media (max-width: 1024px){
    .home{
        background-size: 220%;
        background-repeat: no-repeat;
        background-position: 76% 200%;
    }
}

.hover{
    border-radius: 4px;
    cursor: pointer;
}
.hover:hover{
    transform: scale(1.1);
    transition: all 100ms ease-in;
    box-shadow: 0.625rem 0.625rem 0.9375rem 0 rgba(31, 31, 31, 0.075);

}
.video-field{
    width: 100%;
    display: flex;
    justify-content: center;
}

.x-ray{
    background: #FAFAFA;
}
