<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
</head>
{% load static %}
{% include 'head.html' %}
<body>
{% include 'navbar.html' %}


<!--========== PROMO BLOCK ==========-->




    <div class="s-promo-block-v1">
        <div class="g-container--md g-text-center--xs g-margin-t-120--xs">
            <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--dark g-letter-spacing--2 g-margin-b-25--xs">TRY WITH EXAMPLE IMAGES</p>
            <h1 class="g-font-size-40--xs g-font-size-50--sm g-font-size-60--md g-color--primary g-letter-spacing--1">Demo</h1>
        </div>
        <p class="message"></p>

        <div class="container g-padding-y-30--xs g-margin-b-40--xs x-ray">
            <h1 class="g-font-size-30--xs g-font-size-30--sm text-center g-color--dark g-margin-b-35--xs">1. Employee Badge Scanner</h1>
            <div class="row g-overflow--hidden">
                <div class="col-xs-6 g-full-width--xs g-margin-b-30--xs g-margin-b-0--lg">
                    <!-- Speaker -->
                    <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-400--lg">
                        <img class="img-responsive g-width-100-percent--xs" src="{% static 'img/badge-input.png' %}" alt="Image">
                        <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs">

                            <p class="g-font-weight--700">Input</p>
                        </div>
                    </div>
                    <!-- End Speaker -->
                </div>
                <div class="col-xs-6 g-full-width--xs">
                    <!-- Speaker -->
                    <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-400--lg">
                        <img class="img-responsive g-width-100-percent--xs" src="{% static 'img/badge-output.png' %}" alt="Image">
                        <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs">
                            <p class="g-font-weight--700">Output</p>
                        </div>
                    </div>
                    <!-- End Speaker -->
                </div>
            </div>
        </div>
        <div class="container g-padding-y-30--xs g-margin-b-40--xs x-ray">
            <h1 class="g-font-size-30--xs g-font-size-30--sm text-center g-color--dark g-margin-b-35--xs">2. PPE Secure Check</h1>
            <div class="row g-overflow--hidden">
                <div class="col-xs-6 g-full-width--xs g-margin-b-30--xs g-margin-b-0--lg">
                    <!-- Speaker -->
                    <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-400--lg">
                        <img class="img-responsive g-width-100-percent--xs" src="{% static 'img/ppe.jpg' %}" alt="Image">
                        <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs">

                            <p class="g-font-weight--700">Input</p>
                        </div>
                    </div>
                    <!-- End Speaker -->
                </div>
                <div class="col-xs-6 g-full-width--xs">
                    <!-- Speaker -->
                    <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-400--lg">
                        <img class="img-responsive g-width-100-percent--xs" src="{% static 'img/ppe-output.jpg' %}" alt="Image">
                        <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs">
                            <p class="g-font-weight--700">Output</p>
                        </div>
                    </div>
                    <!-- End Speaker -->
                </div>
            </div>
        </div>
        <div class="container g-padding-y-30--xs g-margin-b-40--xs x-ray">
            <h1 class="g-font-size-30--xs g-font-size-30--sm text-center g-color--dark g-margin-b-35--xs">3. X-ray Classification</h1>
            <div class="row g-overflow--hidden">
                <div class="col-xs-6 g-full-width--xs g-margin-b-30--xs g-margin-b-0--lg">
                    <!-- Speaker -->
                    <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-400--lg">
                        <img class="img-responsive g-width-100-percent--xs" src="{% static 'img/xray-input.jpg' %}" alt="Image">
                        <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs">
                            <p class="g-font-weight--700">Input</p>
                        </div>
                    </div>
                    <!-- End Speaker -->
                </div>
                <div class="col-xs-6 g-full-width--xs">
                    <!-- Speaker -->
                    <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-400--lg">
                        <img class="img-responsive g-width-100-percent--xs" src="{% static 'img/xray-output.png' %}" alt="Image">
                        <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs">
                            <p class="g-font-weight--700">Output</p>
                        </div>
                    </div>
                    <!-- End Speaker -->
                </div>
            </div>
        </div>


    </div>

    <div id="results" class="g-padding-y-60--xs">
        <div class="s-promo-block-v1">
            <div class="g-bg-position--center g-bg-color--white">
                <div class="g-container--md g-text-center--xs g-padding-y-20--xs">
                    <h1 class="g-font-size-40--xs g-font-size-50--sm g-color--primary g-letter-spacing--1"></h1>
                    <p class="user g-font-size-14--xs g-font-weight--700 g-color--dark g-letter-spacing--2 g-margin-b-25--xs"></p>
                </div>
            </div>
            <div class="container g-padding-y-20--xs">
                <div class="row"></div>
            </div>
        </div>
    </div>
        <!--========== END PROMO BLOCK ==========-->
{% include 'footer.html' %}
{% include 'scripts.html' %}
<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
</body>
</html>
