<!--========== HEADER V2 ==========-->
{% load static %}
<header class="navbar-fixed-top s-header-v2 js__header-sticky">
    <!-- Navbar -->
    <nav class="s-header-v2__navbar">
        <div class="container g-display-table--lg">
            <!-- Navbar Row -->
            <div class="s-header-v2__navbar-row">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="s-header-v2__navbar-col">
                    <button type="button" class="collapsed s-header-v2__toggle" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                        <span class="s-header-v2__toggle-icon-bar"></span>
                    </button>
                </div>

                <div class="s-header-v2__navbar-col s-header-v2__navbar-col-width--180">
                    <!-- Logo -->
                    <div class="s-header-v2__logo">
                        <a href="/" class="s-header-v2__logo-link">
                            <img class="s-header-v2__logo-img s-header-v2__logo-img--default" height="45" src="{% static 'img/logo/logo-large.png' %}" alt="Logo">
                            <img class="s-header-v2__logo-img s-header-v2__logo-img--shrink" height="45" src="{% static 'img/logo/logo.png' %}" alt="Logo">
                        </a>
                    </div>
                    <!-- End Logo -->
                </div>

                <div class="s-header-v2__navbar-col s-header-v2__navbar-col--right">
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse s-header-v2__navbar-collapse" id="nav-collapse">
                        <ul class="s-header-v2__nav">
                            <!-- Home -->
                            <li class="s-header-v2__nav-item"><a href="/" class="s-header-v2__nav-link">Home</a></li>
                            <li class="s-header-v2__nav-item"><a href="/about" class="s-header-v2__nav-link">About</a></li>
                            <li class="s-header-v2__nav-item"><a href="/demo" class="s-header-v2__nav-link">Demo</a></li>
                            <li class="s-header-v2__nav-item"><a href="/ppe" class="s-header-v2__nav-link">PPE Scan</a></li>
                            <li class="s-header-v2__nav-item"><a href="/live_scan" class="s-header-v2__nav-link">Live Scan</a></li>
                            <li class="s-header-v2__nav-item"><a href="/team" class="s-header-v2__nav-link">Team</a></li>
                        </ul>
                    </div>
                    <!-- End Nav Menu -->
                </div>
            </div>
            <!-- End Navbar Row -->
        </div>
    </nav>
    <!-- End Navbar -->
</header>
<!--========== END HEADER V2 ==========-->
