
{% load static %}
<!--========== JAVASCRIPTS (Load javascripts at bottom, this will reduce page load time) ==========-->
<!-- Vendor -->
<script type="text/javascript" src="{% static 'vendor/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/jquery.migrate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
{#<script type="text/javascript" src="{% static 'vendor/jquery.smooth-scroll.min.js' %}"></script>#}
<script type="text/javascript" src="{% static 'vendor/scrollbar/jquery.scrollbar.min.js' %}"></script>
{#<script type="text/javascript" src="{% static '' %}vendor/swiper/swiper.jquery.min.js"></script>#}
{#<script type="text/javascript" src="{% static '' %}vendor/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>#}
<script type="text/javascript" src="{% static 'vendor/jquery.wow.min.js' %}"></script>

<!-- General Components and Settings -->
<script type="text/javascript" src="{% static 'js/global.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/components/header-sticky.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/components/scrollbar.min.js' %}"></script>
{#<script type="text/javascript" src="{% static '' %}js/components/swiper.min.js"></script>#}
{#<script type="text/javascript" src="{% static '' %}js/components/portfolio-4-col-slider.min.js"></script>#}
<script type="text/javascript" src="{% static 'js/components/wow.min.js' %}"></script>
<!--========== END JAVASCRIPTS ==========-->
